:root {
    --purple: rgb(190, 30, 255);
    --blue: rgb(40, 60, 225);
    --blue-l: rgb(111, 205, 255);
}

a {
    color: var(--purple);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-shadow: -1px -1px 4px var(--orange), 1px -1px 4px var(--orange), -1px 1px 4px var(--orange), 1px 1px 4px var(--orange);
}

.stroke-nav {
    text-shadow: -1px -1px 0 var(--tan-2), 1px -1px 0 var(--tan-2), -1px 1px 0 var(--tan-2), 1px 1px 0 var(--tan-2);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(66, 66, 66, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
}

.navBtn {
    background-color: rgba(66, 66, 66, 0.75);
    padding: 2vmin;
}
  