.note-pad-s {
    background-image: url('../../../public/lily-pad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 12vmin;
    width: 60vmin;
    margin: 2vmin;
}

.note-pad {
    background-image: url('../../../public/lily-pad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20vmin;
    width: 160vmin;
}

.row {
    display: flex;
    justify-content: space-evenly;
    
}

.row-2 {
    display: flex;
    justify-content: space-around;
}

.link-box {
    width: 24vmin;
}
